.header {
  font-family: 'Fira Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  font-style: oblique;
}

.bio-style {
  background-color: yellow;
  border-top: black solid;
  border-width: thick;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Noto Sans', sans-serif;
}

.content-div {
  margin: 10px;
  text-align: left;
}

.theme span{
  margin: 5px;
  font-size: 20px;
}
.theme {
  margin: 5px;
}
