.contact-style {
  background-color: yellow;
  border-top: black solid;
  border-width: thick;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Noto Sans', sans-serif;
  min-height: 300px
}
