.navigation {
  border-radius: 4px;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-bottom: 40px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: yellow;
}

.nav-header {
  background-color: white;
  color: black;
}
